body {
	color: #c5c8c6;
	background-color: #1d1f21;
	font-family: monospace; 
}
nav {
	background-color: #373b41;
	overflow: hidden;
	padding: 8px;
}
main {
	background-color: #282a2e;
	overflow-wrap: break-word;
	padding: 16px;
}
a {
	color: #81a2be;
	text-decoration: none;
}
.center {
	margin: auto;
	max-width: 48em;
}
.right {
	float: right;
}
